[Unit]
Description=KubernetesKubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=bootstrap.service
After=bootstrap.service

[Service]
EnvironmentFile=/run/metadata/coreos
EnvironmentFile=/etc/kubernetes/options.env
ExecStart=/opt/bin/kubelet \
    --api-servers=https://${K8S_API} \
    --cluster-domain=cluster.local \
    --cluster-dns=${K8S_DNS_SERVICE_IP} \
    --allow-privileged=true \
    --hostname-override=${COREOS_EC2_IPV4_LOCAL} \
    --container-runtime=docker \
    --network-plugin=cni \
    --kubeconfig=/etc/kubernetes/secrets/kubelet.kubeconfig \
    --serialize-image-pulls=false \
    --register-node=true \
    ${K8S_KUBELET_TAINTS} \
    --tls-cert-file=/etc/kubernetes/secrets/kubelet.pem \
    --tls-private-key-file=/etc/kubernetes/secrets/kubelet-key.pem
Restart=on-failure
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
